.Details {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.Details .picture {
  margin-bottom: 5px;
  border-radius: 5px;
  width: 80vw;
}

.Details .symbols {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 40vw;
}

.Details .fa-pinterest {
  margin-top: 5px;
  padding: 5px;
  color: red;
}

.Details i.fa-heart {
  padding: 5px;
  margin-top: 5px;
  color: #0f9db0;
}
.Details i.fav {
  color: red;
}

.Details .similar-heading a {
  text-decoration: none;
  color: #0f9db0;
}
.Details h2 {
  text-align: center;
  font-weight: 400;
  font-style: bold;
  color: #0f9db0;
  width: 80%;
}

.Details .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  color: #0f9db0;
  padding: 5px;
}
.Details .key {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: 20px;
}
.Details .iconify {
  display: flex;
  font-size: 50px;
}
.Details .question-mark {
  position: relative;
}

.Details .clock-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.Details .clock {
  /* margin-top: 30px; */
  color: #0f9db0;
  padding-right: 5px;
}

.Details p {
  font-weight: 100;
}

.Details h3 {
  padding: 10px;
  font-weight: 700;
}
.Details li {
  padding: 5px;
}
.Details .ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.Details .ingredients-list {
  font-weight: 100;
  margin: 10px;
}

.Details .instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.Details .instructions-list {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 40px;

  font-weight: 100;
}

@media only screen and (min-width: 768px) {
  .Details .section-container {
    display: flex;
    flex-direction: row;
  }
  .Details .section-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 50%;
    justify-content: stretch;
    align-items: center;
  }
  .Details .picture {
    display: flex;
    align-self: center;
    width: 500px;
    margin: 10px;
  }
  .Details .symbols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
    width: 25px;
    height: 25px;
  }
  .Details .similar-heading {
    align-items: center;
    width: 100%;
    margin: 10px;
  }
  .Details .icons {
    margin: 10px;
  }

  .Details .section-2 {
    flex-direction: column;
    flex: 1;
    width: 50%;
    justify-content: stretch;
    align-items: center;
  }
  .Details li.instructions-list {
    display: flex;
    /* flex-direction: column;
    margin: 10px; */
    padding: 40px;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
  }
  .Details .similar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
