.Footer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.Footer .key {
  display: flex;
  /* margin: 5px; */
  /* padding: 10px; */
}

.Footer .iconify {
  color: #0f9db0;
}

.Footer .key div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Footer .key p {
  text-align: center;
}

.Footer .Socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer a.fa-brands {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  padding: 10px 10px 0 0;
}
.fa-facebook,
.fa-instagram,
.fa-twitter {
  color: #0f9db0;
  padding: 5px;
}
