.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #0f9db0;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
  /* margin: 10px; */
  width: 100%;
  height: 125px;
}
/* .Header .good-eats {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.Header .diner {
  display: flex;
  color: black;
  margin: 10px;
  height: 75px;
  width: 75px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.Header .favorites {
  /* margin: 20px;
  padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}
.Header .faves {
  padding-bottom: 6px;
}

.Header .heart {
  display: flex;
  /* bottom: 0;
  right: 0; */
  color: white;
  padding: 10px;
  width: 25px;
  height: 25px;
}

@media only screen and (min-width: 768px) {
  .Header h1 {
    font-size: 64px;
  }
  .Header .diner {
    height: 100px;
    width: 100px;
  }
}
