.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #0f9db0;
  color: white;
  font-family: "Gloria Hallelujah", cursive;
  /* margin: 10px; */
  width: 100vw;
  height: 20vh;
}
.Header h1 {
  margin: 10px;
}
.Header .diner {
  display: flex;
  color: black;
  margin: 10px;
  height: 75px;
  width: 75px;
}

.Header .heart {
  /* display: flex; */
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 10px;
}
