.Main {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.Main .random {
  border: 10px;
  box-shadow: 5px;
  padding: 5px;
  background-color: #0f9db0;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 5px;
  padding: 8px, 0;
}

/* @media only screen and (min-width: 768px) {
  .Main {
  }
} */
