.Result {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Result .picture {
  border-radius: 10px;
  box-shadow: 5px;
  justify-content: center;
  align-items: center;
}

.Result a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.Result .symbols {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 40vw;
}

.Result .fa-pinterest {
  color: red;
  padding: 5px;
  margin-top: 5px;
}

.Result i.fa-heart {
  padding: 5px;
  margin-top: 5px;
  color: #0f9db0;
}
.Result i.fav {
  color: red;
}
