.Result {
  /* margin: 10px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.Result .picture {
  border-radius: 10px;
  box-shadow: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.Result a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

.Result .symbols {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

.Result i.fa-pinterest {
  color: red;
  padding: 5px;
  margin-top: 5px;
  font-size: 25px;
}

.Result i.fa-heart {
  padding: 5px;
  margin-top: 5px;
  color: #0f9db0;
  font-size: 25px;
}
.Result i.fav {
  color: red;
}
.Result h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .Result {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Result .picture {
    align-self: center;
    width: 400px;
    margin: 10px;
  }

  .Result a {
    width: 300px;
  }
}
