.SearchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 80vw; */
  box-sizing: border-box;
}

.SearchForm .search-bar {
  display: flex;
  width: 80vw;
}

.SearchForm select {
  width: 80vw;
}

.SearchForm #search {
  flex: 1;
}
