.SimilarItems {
  list-style: none;
}
.SimilarItems a {
  /* text-decoration: none; */
  color: #0f9db0;
}
.SimilarItems p {
  font-style: bold;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .SimilarItems {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
